/* 
:first-child - перша дитина свого батька
:first-of-type - перша дитина ТАКОГО ТИПУ

:last-child - остання дитина свого батька
:last-of-type - остання ТАКА дитина свого батька


:nth-child() - кожна енна дитина свого батька
:nth-last-child() - кожна енна дитина з кінця

:nth-of-type() - кожна енна ТАКА дитина свого батька
:nth-last-of-type() - кожна енна ТАКА дитина з кінця

:only-child - едина дитина свого батька
:only-of-type - едина ТАКА (такого типу) дитина свого батька

*/

.box {
    width: 100px;
    height: 100px;
    border: 2px solid black;
}

p:only-child {
    color: red;
}

body :only-of-type {
    color: violet;
}
